
.mainproducts .smallBanners a:nth-child(1) img
{
background: linear-gradient(90deg, rgb(73 137 175) 0%, rgb(2 45 71) 100%) !important;
content: url(https://i.postimg.cc/2S1VPj7L/icons8-netflix.gif) !important;
background-repeat: no-repeat;
background-position: center;
background-size: 0%;
width: 100px;
border-radius: 50px;
}
.mainproducts .smallBanners a:nth-child(1)::after {
  content: "Netflix"; 
  display: block;
  text-align: center;
  color: #00bdc9;
  padding-top: 8px;
  font-weight: 700;
}