.content.mainshowproduct .contentnav {
    display: none!important
}

.mainproducts .title {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,#ED639E 0%,#134982 29%,#00bdc9 67%,#D14985 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-weight: 800
}

.mainfeatures .mainFeaturesTexts {
    text-align: center
}

.mainFeaturesTexts h2 {
    color: var(--turquoise);
    font-size: 2rem
}

.mainFeaturesTexts p {
    color: lightgray
}

.mainproducts .mainvotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%
}

.content.mainshowproduct .rshowcon .left .slider .peritem {
    background-size: cover!important
}

.mainproducts .mainvotes .rvotes {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: -50px
}

.mainfeatures .perfeature {
    border: 1px solid #00bdc959;
    border-radius: 15px;
    padding: 25px 0;
    box-shadow: 0 0 7px #0cbdc966;
    background: #0000003b;
    position: relative;
    margin: 15px 0 !important;
    z-index: 1;
}

.mainfeatures .perfeature .text {
    color: #00bdc9;
    font-weight: bold;
}

@media (min-width: 250px) and (max-width:999px) {
    .header .nav {
        background-image:linear-gradient(to right,#d14985,#b44a8d,#964b8f,#764b8c,#584983)
    }
}

@media (min-width: 320px) and (max-width:520px) {
    .mainproducts .rpcon .perproduct:not(.persearchproduct) {
        margin:10px 0;
        width: calc(100% / 2 - 9px)
    }
}
.mainproducts .perproduct .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  background-image: url('https://i.postimg.cc/jqBWKLRb/Animation-1706932550784.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainproducts .title {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,#ED639E 0%,#134982 29%,#00bdc9 67%,#D14985 100%);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    font-size: 1.8rem!important;
    text-align: center
}

@keyframes textclip {
    to {
        background-position: 200% center
    }
}


.mainproducts .smallBanners a:nth-child(1) img {
content: url(https://i.postimg.cc/KvZXHhWy/Animation-1706934244898.gif) !important;
background-repeat: no-repeat;
background-position: center;
background-size: 0%;
width: 120px;
border-radius: 100px;
}
.mainproducts .smallBanners a:nth-child(1)::after {
  content: "Netflix";
  display: block;
  text-align: center;
  font-size: 1.2em;
  color: #a9a9a9;
  padding-top: 21px;
  font-weight: 700;
}


.mainproducts .smallBanners a:nth-child(2) img {
  content: url(https://i.postimg.cc/bw0dxh4S/icons8-pubg-96.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0%;
width: 120px;
border-radius: 100px;
  }
  .mainproducts .smallBanners a:nth-child(2)::after {
    content: "BUBG Mobile";
    display: block;
    text-align: center;
    font-size: 1.2em;
    color: #a9a9a9;
    padding-top: 21px;
    font-weight: 700;
  }

  
.mainproducts .smallBanners a:nth-child(3) img {
  content: url(https://i.postimg.cc/Mp45k198/Animation-1706935376711.gif) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0%;
width: 120px;
border-radius: 100px;
  }
  .mainproducts .smallBanners a:nth-child(3)::after {
    content: "YouTube";
    display: block;
    text-align: center;
    font-size: 1.2em;
    color: #a9a9a9;
    padding-top: 21px;
    font-weight: 700;
  }

.mainproducts .smallBanners a:nth-child(4) img {
  content: url(https://i.postimg.cc/vHCxbXwX/Animation-1706935487619.gif) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0%;
width: 120px;
border-radius: 100px;
  }
  .mainproducts .smallBanners a:nth-child(4)::after {
    content: "Gmail";
    display: block;
    text-align: center;
    font-size: 1.2em;
    color: #a9a9a9;
    padding-top: 21px;
    font-weight: 700;
  }


.mainproducts .smallBanners a img {
  border: 2px solid #00bdc9 !important;
}


.mainproducts .perproduct .price {
  font-size: 18px;
  margin-top: 0;
  font-weight: bold;
}
.mainproducts .perproduct .mainprice {
  position: inherit;
  display: block;
  top: 0;
  left: 0;
  background-image:linear-gradient(to right,#d14985,#b44a8d,#964b8f,#764b8c,#584983);
  border-radius: 0;
  padding: 2px;
}

.mainproducts .perproduct .details .rating {
display: none;
}

.mainfeatures .sep {
    height: 0;
}
/* CDN 20DEV */
.rcon {
  color: #333;
  padding: 20px;
  box-sizing: border-box;
}


.title {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.rcon p {
  line-height: 1.6;
  margin-bottom: 1em;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.fldscon {
  margin-top: 20px;
}

.perfldcon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkboxcon {
  cursor: pointer;
}

.name {
  margin-left: 8px;
}

#addToCartWithFldsBtn {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .rcon {
    padding: 10px;
  }

  .title {
    font-size: 1.2em;
  }

  .perfldcon {
    flex-direction: column;
    align-items: start;
  }

  .name {
    margin-left: 0;
    margin-top: 8px;
  }

  #addToCartWithFldsBtn {
    width: 100%;
    padding: 15px 0;
  }
}


.content.mainshowproduct .rshowcon .right .addtocartcon .counter {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-bottom: 26px;
}

.content.mainshowproduct .rshowcon .right .addtocartcon .counter .rcounter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  align-items: center;
  color: #fff;
  background-color: #17171d !important;
}

.content.mainshowproduct .rshowcon .right .addtocartcon .counter::before {
  content: "الكمية";
  color: #fff;
  align-self: flex-start; 
  width: 100%;
  text-align: center; 
}

.mainproducts .mainvotes .rvotes .pervote {
    position: relative;
    background-color: #00bdc936;
    box-shadow: 0 0 30px #0000005c;
}

.owl-carousel .owl-item img {
    display: block;
    width: 90%!important;
    margin: 0 auto;
    border-radius: 2.5rem
}


.content.mainshowproduct .rshowcon .right .name {text-transform: uppercase;background-image: linear-gradient(-225deg, #ED639E 0%, #134982 29%, #00bdc9 67%, #D14985 100%);background-size: 200% auto;background-clip: text;text-fill-color: transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;animation: textclip 4s linear infinite;font-weight: 700;font-size: 1.8rem !important;}

.content.mainshowproduct .rshowcon .right .price {
    font-weight: 700;
    text-align: center;
}
.content.mainshowproduct .rshowcon .right .rating {
    display: none;
}
.content.mainshowproduct .rshowcon .right .rating .count {
    color: var(--white)!important
}

.content.mainshowproduct .sec2 .tabs .pertab {
    color: var(--white)!important
}

.descr {
    color: var(--white) !important;
    border: 1px solid #ffffff21;
    padding: 1em;
    background: #0000003b;
    border-radius: 15px;
}

.mainproducts .perproduct {
    border: solid 2px var(--color-border)!important;
    background-color: transparent;
    border-radius: 15px
}

.mainproducts .perproduct .details .pname {
    font-size: 1rem;
    line-height: 3em;
    color: white;
    padding: 0 0.5em;
    font-weight: 600;
}

.mainproducts .perproduct .details {text-align: center;background: #0000003b;      padding: 0;  border-radius: 0 0 1rem 1rem;}

.mainproducts .perproduct .details .psubname {
    display: none;
}

.mainproducts .perproduct .details .btns {
    justify-content: center !important;
    background: #ffffff0f;
}

.mainproducts .perproduct .details .btns .perbtn {
    color: #FEE62C !important;
}

.mainproducts .mainbanner a {
    padding: 1.5em;
    border: 1px solid hsla(0, 0%, 100%, .3) !important;
    border-radius: 1.5em;
}

.footer .perrow.row1 .text,.footer .perrow .title {
    color: white;
    font-weight: 700;
}

.mainproducts .perproduct .img {
    padding-top: 1rem;
	position: relative;
}

.mainproducts .perproduct .oldprice {
    color: #000;
}

.mainproducts .perproduct .mainprice {
    display: block;
}

@media (min-width: 320px) and (max-width:520px) {
    .mainproducts .smallBanners {
        padding-left:4px;
        padding-right: 1px;
    }
}

.rcon {
    background-color: #363636
}

.pname {
    font-size: 22px;
    color: white
}

.footer {
    background: #0000003b;
    border-top: 2px solid #d14985
}

.footer .perrow .paymentMethodsCon .perpayment {
    width: 80px;
    padding: 0 10px
}
.mainproducts .perproduct .details .buycount {
    display: none;
}
@media (min-width: 401px) and (max-width: 520px) {
  .mainproducts .perproduct .details .btns {
    padding: 8px;
    justify-content: center;
  }
}

.content.mainshowproduct .rshowcon .right .addtocartcon {direction: rtl;}
.content.mainshowproduct .rshowcon .right .addtocartcon .addtocartbtn {
    padding: 16px 35px;
    padding-right: 30px;
    border-radius: 20px;
    margin-left: 11px;
    text-align: center;
}

#raddtocartbtn {
  border-radius: 5px;
  width: 70%;
  margin-left: 11px;
}

.content.mainshowproduct .rshowcon .right .addtocartcon .counter {
    width: 30%;
    background-color: transparent;
}
@media (max-width: 768px) {
  #raddtocartbtn,
  .content.mainshowproduct .rshowcon .right .addtocartcon .counter,
  .content.mainshowproduct .rshowcon .right .addtocartcon .addtocartbtn {
    width: 82%; 
  }

  .addtocartcon {
    flex-direction: column;
  }
}
.content.mainshowproduct .rshowcon .right .subname {
    color: #B3B3B3;
    font-size: 15px;
}

.footer .perrow .paymentMethodsCon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 10px;
}

.footer.verticalFooterPattern .perrow .paymentMethodsCon {
  margin-top: 20px;
}

.footer.centeredHorizontalFooterPattern .perrow .paymentMethodsCon {
  width: 300px;
}

@media (min-width: 250px) and (max-width: 340px) {
  .footer.verticalFooterPattern .perrow .paymentMethodsCon,
  .footer.centeredHorizontalFooterPattern .perrow .paymentMethodsCon,
  .footer.defaultPattern .perrow .paymentMethodsCon {
    width: 250px;
  }
}

@media (min-width: 501px) and (max-width: 999px) {
  .footer.centeredHorizontalFooterPattern .perrow .paymentMethodsCon {
    width: 450px;
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .footer.centeredHorizontalFooterPattern .perrow .paymentMethodsCon {
    width: 280px;
  }
}

.footer .perrow .paymentMethodsCon .perpayment {
  margin: 3px;
  margin-bottom: 0;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  width: 4rem;
}

.footer.centeredHorizontalFooterPattern .perrow .paymentMethodsCon .perpayment {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 3px 5px;
  box-sizing: border-box;
}

.footer .perrow .paymentMethodsCon .perpayment img {
  width: 45px;
}

@media (max-width: 768px) {
    .footer .perrow .paymentMethodsCon {
        width: 100%;
        padding: 10px 0;
        background-color: transparent;
    }
}
.footer .btmsocial {
    margin: 0;
    justify-content: center;
    padding: 1em 0;
    background-color: #0000004f;
}
.footer .btmsocial a {
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1000px) and (max-width: 1150px) {
    .footer .rowcon {
        flex-direction: row;
        padding: 50px 20px 0;
    }
}
@media (min-width: 1301px) and (max-width: 1500px) {
    .footer .rowcon {
        flex-direction: row;
        padding: 50px 20px 0;
    }
}

@media (min-width: 801px) and (max-width: 999px) {
    .footer .rowcon {
        flex-direction: row;
        padding: 50px 20px 0;
    }
}
